* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 10px;
}
:root {
  --main: #000000;
  --secondary1: #262a56;
  --secondary2: #b8621b;
  --secondary3: #e3ccae;
}

/**********************/
/* Admin table styles */
/********************/

.table-style {
  font-size: 2.5rem;
}

.admin-container {
  /* display: flex;
  align-items: center; */
  height: 100%;
  width: 100%;
  background-color: var(--secondary2);
}
.admin-nav {
  width: 100%;
  height: 8vh;
  margin-bottom: 5vh;
  background-color: var(--secondary1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  color: var(--secondary3);
  font-size: 4rem;
  text-decoration: none;
  margin-left: 5rem;
}

.loading {
  width: 80px;
  height: 80vh;
  background-color: var(--secondary2);
}

.loading svg {
  height: 15rem;
  width: 15rem;
  animation: rotate 2.5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.admin-main {
  margin: 0 auto;
  width: 55vw;
  border-radius: 1.5rem;
  border: solid 0.3rem var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-photo {
  width: 4rem;
  height: 4rem;
}

.nr-title-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 1rem;
}

.table-head {
  width: 95%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.3rem var(--main);
  margin-bottom: 4rem;
}

.table-heading {
  font-size: 4rem;
  font-weight: 600;
}

.table-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-line {
  margin: 0 auto;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  border-top: solid 0.3rem var(--main);
}

.background-even {
  background-color: #a65818;
}

.background-odd {
  background-color: #bf7232;
}

.price-btns {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-right: 1rem;
}

.add-btn,
.change-btn {
  width: 20rem;
  height: 4rem;
  background-color: var(--secondary1);
  color: var(--secondary3);
  border: none;
  border-radius: 1.5rem;
}
.delete-btn {
  width: 10rem;
  height: 4rem;
  background-color: var(--secondary1);
  color: var(--secondary3);
  border: none;
  border-radius: 1.5rem;
}

.hidden {
  display: none;
}

/**********************/
/* Admin table styles */
/********************/

form label,
form button {
  font-size: 3rem;
}

form input,
form textarea {
  font-size: 2rem;
}

form {
  width: 30vw;
  height: 50vh;
  padding: 3rem;
  margin: 5vh auto;
  background-color: var(--secondary2);
  border: solid 0.3rem var(--main);
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 35%;
  z-index: 2;
}

form button {
  width: 20rem;
  height: 4rem;
  background-color: var(--secondary1);
  color: var(--secondary3);
  border: none;
  border-radius: 1.5rem;
  align-self: center;
  justify-self: center;
}

.labels,
.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
}

#cancel-btn {
  /* margin: 2.6rem 0 0 7rem; */
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: #262a5661;
  position: absolute;
}
/**********************/
/* Admin form styles */
/********************/
