* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 10px;
}
:root {
  --main: #000000;
  --secondary1: #262a56;
  --secondary2: #b8621b;
  --secondary3: #e3ccae;
}

/**********************/
/* Admin table styles */
/********************/
.table-style {
  font-size: 2.5rem;
}

.admin-container,
.index-container {
  /* display: flex;
  align-items: center; */
  height: 100%;
  width: 100%;
  background-color: var(--secondary2);
}
.admin-nav {
  width: 100%;
  height: 8vh;
  margin-bottom: 5vh;
  background-color: var(--secondary1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  color: var(--secondary3);
  font-size: 4rem;
  text-decoration: none;
  margin-left: 5rem;
}

.loading {
  width: 80px;
  height: 80vh;
  background-color: var(--secondary2);
}

.loading svg {
  height: 15rem;
  width: 15rem;
  animation: rotate 2.5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.admin-main {
  margin: 0 auto;
  width: 75vw;
  border-radius: 1.5rem;
  border: solid 0.3rem var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-title {
  width: 50rem;
  display: flex;
  justify-content: center;
}
.movie-photo {
  width: 7rem;
  height: 7rem;
}

.nr-title-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-left: 1rem;
}

.table-head {
  width: 95%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.3rem var(--main);
  margin-bottom: 4rem;
}

.table-heading {
  font-size: 4rem;
  font-weight: 600;
}

.table-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-line {
  margin: 0 auto;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  border-top: solid 0.3rem var(--main);
}

.background-even {
  background-color: #a65818;
}

.background-odd {
  background-color: #bf7232;
}

.price-btns {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-right: 1rem;
}

.add-btn,
.change-btn {
  width: 20rem;
  height: 4rem;
  background-color: var(--secondary1);
  color: var(--secondary3);
  border: none;
  border-radius: 1.5rem;
}
.delete-btn {
  width: 10rem;
  height: 4rem;
  background-color: var(--secondary1);
  color: var(--secondary3);
  border: none;
  border-radius: 1.5rem;
}

.movie-price {
  display: flex;
  justify-content: flex;
  margin: -3rem;
}

.bold {
  font-weight: 600;
}

.price-heading {
  display: flex;
  gap: 5rem;
  margin-right: 2.5rem;
}
/**********************/
/* Admin table styles */
/********************/

form label,
form button {
  font-size: 3rem;
}

form input,
form textarea {
  font-size: 2rem;
}

form {
  width: 30vw;
  height: 50vh;
  padding: 3rem;
  margin: 5vh auto;
  background-color: var(--secondary2);
  border: solid 0.3rem var(--main);
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 35%;
  z-index: 2;
}

form button {
  width: 20rem;
  height: 4rem;
  background-color: var(--secondary1);
  color: var(--secondary3);
  border: none;
  border-radius: 1.5rem;
  align-self: center;
  justify-self: center;
}

.labels,
.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
}

.margin-top {
  margin-top: -3rem;
  border-top: none;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: #262a5661;
  position: absolute;
}

.question {
  width: 50rem;
  height: 15rem;
  padding: 2rem;
  margin-bottom: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 2.5rem;
  border: #000000 solid 0.3rem;
  border-radius: 1.5rem;
}

/**********************/
/* Admin form styles */
/********************/

.hidden {
  display: none;
}

/**********************/
/* Index styles */
/********************/

.index-nav {
  width: 100%;
  height: 8vh;
  margin-bottom: 5vh;
  background-color: var(--secondary1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#categories,
#prices,
select option {
  background-color: #262a56;
  color: var(--secondary3);
  border: 0.3rem solid var(--secondary3);
  border-radius: 2rem;
  font-size: 4rem;
  text-decoration: none;
}

select {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align-last: center;
}

select:focus {
  outline: none;
}

.index-nav a {
  color: var(--secondary3);
  text-decoration: none;
  font-size: larger;
  font-size: 4rem;
  width: 20rem;
  text-align: center;
  border: 0.3rem solid var(--secondary3);
  border-radius: 2rem;
  font-size: 4rem;
}

.nav-elements {
  display: flex;
  width: 50%;
  margin-right: 5rem;
  align-items: center;
  justify-content: space-between;
}

.index-nav .logo {
  border: none;
}

.index-body {
  height: 87vh;
  width: 100%;
  background-color: var(--secondary2);
}

.movies-category {
  width: 100%;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.movies-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.movie-sticker {
  padding: 2rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border: 0.3rem solid black;
  border-radius: 2rem;
}

.movie-poster {
  width: 30rem;
  height: 40rem;
  border-radius: 2rem;
}

.title {
  font-size: 3rem;
  font-weight: 700;
}

.details {
  font-size: 3rem;
  width: 20rem;
  height: 4rem;
  background-color: var(--secondary1);
  color: var(--secondary3);
  border: none;
  border-radius: 1.5rem;
}
